.AboutContainer {
	height: fit-content;
	background-color: #030030;
}

.About {
	width: 100vw;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20vh;
	padding-bottom: 20vh;
	margin-top: -100vh;

	.Content {
		width: 50%;
		z-index: 1;

		@media screen and (max-width: 1400px) {
			width: 75%;
		}

		@media screen and (max-width: 1150px) {
			width: 80%;
		}

		@media screen and (max-width: 800px) {
			width: 90%;
		}

		.Title {
			color: white;
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 15px;
			font-family: 'Montserrat', sans-serif;
			@media screen and (max-width: 1650px) {
				font-size: 50px;
				letter-spacing: 13px;
			}
		}

		.SubTitle {
			color: #ff005d;
			font-size: 30px;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-family: 'Montserrat', sans-serif;
			@media screen and (max-width: 1650px) {
				font-size: 20px;
				letter-spacing: 2px;
			}
		}

		.Me {
			width: 100%;
			max-width: 500px;
			box-shadow: #1500ff44 0px 54px 55px, #ff005d44 0px -12px 30px,
				#ff005d44 0px 4px 6px, #1500ff44 0px 12px 13px, #ff005d44 0px -3px 5px;
		}
	}
}
