.About {
	width: 100vw;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10vh;
	padding-bottom: 10vh;

	.Content {
		width: 50%;

		@media screen and (max-width: 1400px) {
			width: 75%;
		}

		@media screen and (max-width: 1150px) {
			width: 80%;
		}

		@media screen and (max-width: 800px) {
			width: 90%;
		}

		.Title {
			color: white;
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 15px;
			font-family: 'Montserrat', sans-serif;
			@media screen and (max-width: 1650px) {
				font-size: 50px;
				letter-spacing: 13px;
			}
		}
	}
}
