.AresCode {
	height: 100%;
	width: fit-content;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1150px) {
		display: none;
		height: fit-content;
		padding-top: 0;
		width: 100%;
	}

	pre {
		color: white;
		width: fit-content;
		font-size: 25px;
		margin: 0;
		margin-left: 7vw;
		padding: 50px;
		background-color: #030129;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		border: 2px solid;
		border-image: linear-gradient(to top left, #1500ff, #ff0062) 30;
		font-family: 'Roboto Mono', monospce;
		@media screen and (max-width: 1650px) {
			font-size: 22px;
			padding: 40px;
		}
		@media screen and (max-width: 1400px) {
			font-size: 18px;
			padding: 30px;
			margin-left: 3vw;
		}
		@media screen and (max-width: 1150px) {
			margin-left: 0;
			margin-top: 20px;
			margin-bottom: 10px;
			width: 100%;
		}
		@media screen and (max-width: 650px) {
			font-size: 3.2vw;
			padding: 3vw;
		}
	}
}

.Ares {
	display: flex;
	width: 100vw;
	background-image: linear-gradient(to bottom, #060056, #03002c);
}
